{% extends 'base.html' %}
{% load static %}


{% block title %}KPI Dashboard{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/kpi_dashboard1.css'  %}">
{% endblock %}

{% block body %}
<div class="nav_bg">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="operation">Operation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="customer_service">Customer Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="primer_customer">Primer Customer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="security">Security & Safety</a>
        </li>
    </ul>

    <div class="dropdown">
        <form action="" method="post">
            {% csrf_token %}
            <label>
                <h6>Period : </h6>
            </label>
            <select  name="time">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
            </select>
            <button type="submit">Show Results</button>
        </form>

    </div>





</div>

{% block kpi %}

{% endblock %}

{% endblock %}
