{% extends 'base.html' %}
{% load static %}


{% block title %}Dashboard{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard_filter1.css'  %}">
{% endblock %}

{% block body %}

<div class="graphical_anaysis">


  <div class="heading">
    <h1>Graphical Analysis</h1>
  </div>



</div>
<div class="charts">


  <div class="emotion_bargraph">

    <canvas id="bargraph"></canvas>
    <script>
      var ctx = document.getElementById('bargraph').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{% for i in emotions_lables %}  '{{ i }}',  {% endfor %}],
      datasets: [{
        label: 'Emotions',
        data: [{% for i in emotions_values %}  {{ i }}, {% endfor %}],
        backgroundColor: [
          'rgba(255, 99, 132, 0.8)',
          'rgba(54, 162, 235, 0.8)',
          'rgba(255, 206, 86, 0.8)',
          'rgba(75, 192, 192, 0.8)',
          'rgba(153, 102, 255, 0.8)',
          'rgba(255, 159, 64, 0.8)',
          'rgba(240, 120, 50, 0.8)',
        ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(240, 120, 50, 1)',

          ],
            borderWidth: 3
              }]
          },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
      });
    </script>


  </div>

  <div class="container2">


    <div class="gender_piechart">
      <canvas id="piechart"></canvas>

      <script>
        var ctx = document.getElementById('piechart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [{% for i in gender %}  '{{ i }}',  {% endfor %}],
        datasets: [{
          label: 'Gender',
          data: [{% for i in gender_values %}  {{ i }}, {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)',
            'rgba(240, 120, 50, 0.8)',
          ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(240, 120, 50, 1)',

            ],
              borderWidth: 3
            }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
    });
      </script>


    </div>

    <div class="activity_bargraph">

      <canvas id="gender"></canvas>
      <script>
        var ctx = document.getElementById('gender').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{% for i in activity %}  '{{ i }}',    {% endfor %}],
        datasets: [{
          label: 'Acitivity',
          data: [{% for i in activity_values %}  {{ i }}, {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)',
            'rgba(240, 120, 50, 0.8)',
          ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(240, 120, 50, 1)',

            ],
              borderWidth: 3
              }]
          },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
      </script>


    </div>
  </div>


</div>
<div class="numerical_data">
  <div class="heading">
    <h1>Numerical Data</h1>
  </div>
  <div class="cards">
    {% for i in all %}




    <div class="card">
      <h5 class="card-header">Number of Males</h5>
      <div class="card-body">
        <h5 class="card-title">{{i}}</h5>
      </div>
    </div>
    {% endfor %}

  </div>




</div>



<div class="dataframe">
  <div class="heading">
    <h1>Data Frame</h1>
  </div>
  <div class="container">
    <table class="table table-dark table-striped">
      <thead>
        {% for i in col_name %}
        <th>{{i}}</th>
        {% endfor %}

      </thead>

      <tbody>
        <!-- jinja2 Technique -->
        {% if data_html %}
        {% for i in data_html %}
        <tr>

          <td>{{i.Frame_Count}}</td>
          <td>{{i.Face_ID}}</td>
          <td>{{i.Time}}</td>
          <td>{{i.Gender}}</td>
          <td>{{i.Emotion}}</td>
          <td>{{i.Race}}</td>
          <td>{{i.Age}}</td>
          <td>{{i.Suspecious}}</td>

        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    </tbody>
    </table>
  </div>


</div>

<div class="export_button">
  <form action="" method="post">
    {% csrf_token %}
    <button type="submit" value="Email_report" name="emailbutton">Email Report </button>
    <button type="submit" value="pdf_report" name="pdflbutton">Export PDF </button>
  </form>
</div>




{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard1.js' %}"></script>




{% endblock %}