{% extends 'base.html' %}
{% load static %}


    {% block title %}Index{% endblock %}
    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css'  %}"> 
    {% endblock %}

    {% block form %}

    <div class="form_container">

        <div class="mt-5">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success ">Upload</button>
            </form>
        </div> 
    </div>
            <div class="container2">
                <a href="videos"><button type="submit" class="btn btn-primary"> Go to videos </button></a> 
    </div>
            {% endblock %}

            {% block scripts %}
            <!-- <script src="{% static 'js/main.js' %}"></script> -->
            {% endblock %}

        
