{% extends 'base.html' %}
{% load static %}


{% block title %}Index{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index1.css'  %}">
<style>
    .form ,.inputs{
        align-items: center;
        display: flex;
        justify-content: center;
     }
     
     .form h2{
     
        padding-bottom: 25px;
        font-size: 50px;
        color: rgb(255, 255, 255);
     }
     .inputs input{
        margin-left: 20px;
        
     }
     .form{
        background-color: rgb(23, 133, 197);
        padding-top: 50px;
        padding-bottom: 50px;
     }
     
     .form button {
     margin-left: 20px;
     }
</style>
{% block extra_head_extended %}
{% endblock %}
{% endblock %}

{% block form %}
<div class="form">  
    <form action="videos" method="post">
        {% csrf_token %}
        <h2>Date of Recording</h2>
        <div class="inputs">
            <input type="date" name="date">
            <button type="submit" value="Submit">Submit</button>
        </div>        
    </form>
</div>
{% endblock %}

{% block videos %}
<div class="image">
    <img src="{% static 'images/R.jpg'%} " width="1250px" height="800px" alt="image no found in static/images">
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}