{% extends 'index.html' %}
{% load static %}

{% block title %}Recordings{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index1.css'  %}">
<link rel="stylesheet" href="{% static 'css/video1.css'  %}">
{% endblock %}



{% block videos %}
<div class="heading">
    <h1>
        Your Recordings
    </h1>
</div>

<div class="video_container">
    <div class="video_all">
        {% for x in all %}
        <div class="checkbox">
            {% block vid %}
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input id="checkbox" class="form-check-input mt-0" type="checkbox" value=""
                        aria-label="Checkbox for following text input">


                    <div class="video_specifications">
                        <div class="info">
                            <h3 id="caption" class="text-center mt-2 mb-2">Date : {{date}}</h3>

                        </div>

                        <div class="videos">


                            <video class="embed-responsive embed-responsive-16by9" controls="controls">
                                <source src="{{x.video.url}}" type="video/mp4" />
                            </video>

                            {% block video2 %}
                            {% endblock %}

                        </div>

                        {% endblock %}


                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="button_container">


    <div class="process_button">
        <form action="videos2"><button type="submit" acti class="btn btn-primary btn-lg">Process Video</button></form>
    </div>

    <div class="anayze_button">
        <form action="dashboard"><button type="submit" acti class="btn btn-primary btn-lg">Analyze Video</button></form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/video.js'  %}"> </script>
{% endblock %}