
body {
    width: 1250px;
}

.nav_container {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    
}

.nav_container span{
    margin-left: 50px;
}

a{
    text-decoration: none;
    /* margin-left: -100px; */
  }