.form ,.inputs{
   align-items: center;
   display: flex;
   justify-content: center;
}

.form h2{

   padding-bottom: 25px;
   font-size: 50px;
   color: rgb(255, 255, 255);
}
.inputs input{
   margin-left: 20px;
   
}
.form{
   background-color: rgb(23, 133, 197);
   padding-top: 50px;
   padding-bottom: 50px;
}

